
    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>Kirkwood Sweepstakes - Standings</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <body><p>URL: <a href="table">20170716-220330</a></p><p><table name="epl-table" class="table">
    <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Player</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Arsenal FC</td>
        <td>Ian Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Leicester City FC</td>
        <td>Duncan Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Watford FC</td>
        <td>Lee Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Liverpool FC</td>
        <td>Andrenna Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Southampton FC</td>
        <td>Mark Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Swansea City FC</td>
        <td>Ian Edward Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Newcastle United FC</td>
        <td>Bob Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Tottenham Hotspur FC</td>
        <td>Callum Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Manchester United FC</td>
        <td>Lynn Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>10</td>
        <td>West Ham United FC</td>
        <td>Will Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Everton FC</td>
        <td>David Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Stoke City FC</td>
        <td>Stevie Hill</td>
        <td>0</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Crystal Palace FC</td>
        <td>Dave Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Huddersfield Town</td>
        <td>Wes Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Chelsea FC</td>
        <td>Alan Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Burnley FC</td>
        <td>Stuart Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Brighton &amp; Hove Albion</td>
        <td>Kyle Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Manchester City FC</td>
        <td>John Peter Kirkwood</td>
        <td>0</td>
    </tr>
    <tr>
        <td>19</td>
        <td>West Bromwich Albion FC</td>
        <td>Ian Reed</td>
        <td>0</td>
    </tr>
    <tr>
        <td>20</td>
        <td>AFC Bournemouth</td>
        <td>Stephie Hill</td>
        <td>0</td>
    </tr>
</table></p></body>
    </body>
    </html>
    